* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f8f9fa;
  padding: 20px 10px;
  font-weight: bold;
}

:root {
  --primary-color: #043a53;
  --secondary-color: #6c757d;
  --accent-color: #28a745;
  --text-color: #333;
  --background-color: #f8f9fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

header,
main,
footer {
  text-align: center;
}

footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px;
}

#hero {
  text-align: center;
  padding: 60px 20px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
}

#hero img:first-of-type {
  max-width: 100%;
}

.hero-content {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bolder;
  color: #000;
}

.hero-content .highlight {
  color: var(--primary-color);
}

.hero-content p {
  font-size: 1.2rem;
  margin: 20px 0;
  color: #555;
}

.cta-buttons {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.cta-buttons > span {
  display: flex;
  align-items: center;
}

.cta-buttons > button {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.primary-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.secondary-btn {
  background: none;
  border: none;
  font-size: 1rem;
  color: #000;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
}

.reviews {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews img {
  width: 100px;
  margin-right: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.logo img {
  width: 10rem;
  margin-right: 8px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--primary-color);
  transition: width 0.5s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a.active {
  color: var(--primary-color);
}

.auth-buttons button {
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.login {
  background-color: white;
  color: black;
  font-weight: bolder;
}

.login:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.signup {
  background-color: var(--primary-color);
  color: white;
  font-weight: bolder;
}

.signup:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.menu-toggle {
  display: none;
}

.auth-buttons.mobile {
  display: none;
}

.navbar {
  transition: all 0.3s ease-in-out;
}

.primary-btn:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
  transform: scale(1.05);
}

.secondary-btn:hover {
  text-decoration: underline;
}

.hero-content {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s ease-in-out forwards;
}

.hero > img {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.hero > img:first-of-type {
  transform: translatex(-100px);
}

.hero > img:last-of-type {
  transform: translatex(100px);
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  header {
    padding: 0;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar > div:first-of-type {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 100%;
  }

  .nav-links.active {
    display: flex;
  }

  #hero {
    flex-direction: column;
    padding: 0;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .cta-buttons {
    flex-direction: column;
  }

  .primary-btn,
  .secondary-btn {
    width: 100%;
    margin: 10px 0;
  }

  #hero img:first-of-type {
    order: 2;
  }

  .hero-image-second {
    display: none;
  }

  .menu-toggle {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }

  .auth-buttons.desktop {
    display: none;
  }

  .auth-buttons.mobile {
    display: inline;
  }
}



/* Brand-Section */

.brand-section .desktop-brand{
  width: 100%;
  object-fit: cover;
}

.brand-section .mobile-brand{
  display: none;
  object-fit: cover;
}

@media (max-width: 768px) {
  .brand-section .desktop-brand{
    display: none;
  }
  
  .brand-section .mobile-brand{
    display: block;
    width: 100%;
  }
}